.sidebar-nav .img-avatar {
    float: left;
}

.profile-tab li {
    font-weight: bold;
}

.fb-reaction {
    text-align: center;
}

.fb-reaction .checkbox {
    display: inline-block;
}

.fb-reaction .checkbox input {
    display: none;
}

.fb-reaction img {
    width: 50px;
    display: block
}

button{
    border-radius: 10px;
    border: 0 !important;
}
.btn-orange{
    background: #FFAA47;
    color: #FFFFFF;
}
.orange{
    color: #FFAA47;
}
.card{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 0;
}
.card-gray{
    background: #F2F2F2;
}
.login {
    background-image:url(/assets/images/background/login.png);
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    padding: 15px;
    overflow: auto;
    position: relative;
    top: 5vh;
}
.input-box {
    border-style: none;
    background: transparent;
    border-bottom: 1px solid #000000;
    width: 100%;
    position: relative;
    outline: none;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 0px;
}
.register {
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    padding: 8px;
    overflow: auto;
    position: relative;
}
.font-bold{
    font-weight: bold;
}
.bold{
    font-family: VIEAvantGardeBold;
}
.font-12{
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-19{
    font-size: 19px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-30{
    font-size: 30px;
}
.font-32{
    font-size: 32px;
}
.font-36{
    font-size: 36px;
}
.ps__thumb-y {
    transition: background-color .2s linear,width .2s ease-in-out;
    -webkit-transition: background-color .2s linear,width .2s ease-in-out;
    width: 0px !important;
    right: 0px !important;
}
.input{
    border-radius: 10px !important;
    border: 0
}
.input-gray{
    border-radius: 10px !important;
    border: 0;
    background: #F2F2F2;
}
.input-gray:focus{
    border-radius: 10px !important;
    border: 0;
    background: #F2F2F2;
}
.input-light{
    border-radius: 10px !important;
    border: 0;
    background: white;
}
.select-gray{
    background-color:#F2F2F2;
    border: 0;
    color: #000000;
}
.select-light{
    border: 0
}
.shadow-0{
    box-shadow: 0px 0px 0px !important;
}
iframe{
    border-radius: 10px;
}